<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="./static/css/style.css" rel="stylesheet" type="text/css" /> 
<script src="./static/js/js2.js"></script>
    <meta charset="UTF-8">
    <title>MY STORIES</title>
</head>
<body>

    <center>
     <div class="navbar-s">
        <a href=""></a>
  <a href="/home">HOME</a>
  <a href="/add_story">ADD A STORY</a>
    <a href="/my_stories">MY STORIES</a>
<!--       <a href="NA.html"></a> -->
      <a href="/signout">LOGOUT</a></div>
  </center>

<br>
<div class="slideshow-container">
    {% for post in stories %}
        {% if stories[post]['UID'] == user %}

            <div class="mySlides">
            <h1>{{stories[post]['title']}}</h1>
            <h3>{{stories[post]['story']}}</h3>
            </div>
        {% endif %}
    {% endfor %}

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>

<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
    
</body>
</html>